<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ "/assets/images/favicon.ico"  | absolute_url }}">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.gitlab.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.gitlab.repository_name }}</a></h1>

        <img src="{{site.logo | relative_url}}" alt="Logo" />
        <p>{{ site.description | default: site.gitlab.project_tagline }}</p>
        <p>Twitter: <a href="{{ site.twitter_url }}">{{ site.twitter_handle }}</a></p>
        <p>Feed: <a href="/feed.xml">RSS</a></p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Hosted on AirFoce</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
